@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
    width: 100%;
    max-width: 600px; 
}
body {
font-family: "Varela Round", sans-serif;
background-image: linear-gradient(135deg, #0f0063, #4e06a0, #b300ff);
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: ease;
color: #c0c0c0;
margin: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;
}
#uv-address {
    flex: 1;
    padding: 14px; 
    font-size: 18px; 
}

#sigma {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}

#sigma a {
    margin: 0 10px; 
    font-size: 24px; 
}

@keyframes settingsSpin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes gradAnimate {
    0% {background-position: 0% 2%;}
    50% {background-position: 100% 99%;}
    100% {background-position: 0% 2%;}
}

body {
    font-family: "Varela Round", sans-serif;
    animation-name: gradAnimate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    color: #c0c0c0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.description {
    text-align: center;
    font-size: 1.2em;
    color: #f0f0f0;
}

.search-container {
display: fixed;
justify-content: center;
margin-top: 20px;
animation: appear 0.5s ease-in-out; 
}

#uv-form {
display: flex;
width: 90%;
max-width: 600px;
animation: appear 0.5s ease-in-out; 
}

#uv-address {
justify-content: center;
flex: 1;
padding: 15px;
border: 1px solid #ffffff;
border-radius: 4px 25px 4px 25px;
font-size: 16px;
background-color: #000000;
color: #c0c0c0;
animation: appear 1s ease-in-out; 
}

@keyframes appear {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
.logo {
position: absolute;
top: 100px;
left: 20px;
z-index: 500;
}

.logo img {
height: 50px;
width: auto;
}

#logo {
    border-radius: 300px;
}

input[type="submit"] {
    padding: 15px;
    border: none;
    background: linear-gradient(45deg, #003366, #006699);
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

input[type="submit"]:hover {
    background: linear-gradient(45deg, #006699, #003366);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

main {
    margin-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-nav-bar {
    height: 75px;
    width: 100%;
    background: #111111;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 4%;
    z-index: 499;
}

footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #777;
    width: 100%;
}

footer a {
    color: #c0c0c0;
    text-decoration: none;
    margin: 0 5px;
}

i[class="fas fa-cog"]:hover {
    animation-name: settingsSpin;
    animation-duration: 0.5s;
}
.tabs-container {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.tabs-container::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: default;
  }

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#memo {
    text-align: center;
    font-size: 1.5em;
    color: #f0f0f0;
    margin-top: 10px; 
    font-style: italic; 
    animation: appear .8s ease-in-out; 
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tab {
    padding: 8px;
    background: #444;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 5px;
    animation: appear 0.3s ease-in-out; 
    height: 40px;
}

@keyframes appear {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

.tab.active {
    background: #ffffff;
}

.tab:not(.active):hover {
background: #ffffff88;
}

.tab input {
    border: none;
    background: transparent;
    color: #000000;
    outline: none;
    width: 180px;
}

.tab i {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}

.close-tab {
    color: #000000;
    font-size: 14px;
}

#addTab {
    background: #22222200;
    color: #ffffff;
    border-radius: 100px;
    border-color:#00000000;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}
.tab-content {
    display: none;  
}

.tab.active .tab-content {
    display: block;  
}

* {
    cursor: auto !important;
}
body {
    zoom: 0.8;
}
    #searchButton {
  display: none;
    }
    body {
  position: relative;
}
#urlInput {
    width: 35rem;
    height: 4rem;
    background: #ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    padding: 14px;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 1rem;
    align-self: center;
    align-items: center;
    align-content: center;
}
#MyInput {
    width: 35rem;
    height: 4rem;
    background: #ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    padding: 14px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 1rem;
}

#frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: black;
    outline: none;
    border: none;
}
.iframeWindow {
    position: absolute;
    width: 125vw;
    height: 106vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -12.8vh;
    background-color: #00000000;
    z-index: -1;
}

#switcher {
    position: absolute;
    z-index: 999;
}
#reloadButton {
    position: absolute;
    z-index: 999;
}
#searchButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #111;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #111;
}
body {
    background-color: linear-gradient(135deg, #0f0063, #4e06a0, #b300ff)
}
#switcher {
  position: absolute;
  top: 0.25%;
  right: 0.5%;
  padding: 12.5px 20px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #111111;
  color: #ffffff;
  appearance: none;
  height: 6.5vh;
  width: 11.5vw;
}
#reloadButton {
  position: absolute;
  top: 5%;
  left: 7.5%;
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  background-color: #00000000;
  color: #ffffff;
  appearance: none;
}
#switcher option {
  padding: 10px;
}
#overlay {
            position: fixed;
            top: 7vh;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 9999;
            display: none;
        }
        #iframeWindow {
            z-index: 9999;
            display: none;
        }
        #topBar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6vh;
            background: #111111;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }
        #topUrlInput {
            width: 75%;
            height: 3.25vh;
            background: #ffffff;
            color: #000000;
            outline: none;
            border: none;
            padding: 5px;
            font-size: 1.25rem;
            font-weight: 600;
            border-radius: 5px;
        }
        #topGoButton {
            height: 4vh;
            margin-left: 5px;
            background: #111;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            padding: 5px 10px;
        }
#myInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

#myInput::placeholder {
    color: #aaa;
}
.search-wrapper {
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    width: clamp(100px, 25vw, 325px);
    padding: 0px 5px 0px 15px;
}
